table{
    padding-top: 15vh;
    font-size: 2vh;
    width: 100vw;
    border-collapse: collapse;
    background-color: wheat;
    
}
.responsive-tabel{
    overflow-x: auto;
}
th{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
td{
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-right-style: dashed;
    border-left-style: dashed;
    text-align: center;
}
button{
    width: 49%;
    border: 0;
    padding: 0;
    margin: 0;

}
tbody>tr:hover {background-color: #E39D45;}
main>div{
    padding-top: 5vh;
}
main>h1{
    padding-top: 10vh;
    text-align: center;
}
.red{
    background: rgb(255, 26, 26);
}
.green{
    background: rgb(32, 201, 32);
}