table{
    margin-top: 1vh;
    font-size: 2vh;
    width: 100%;
    border-collapse: collapse;
    background-color: wheat;
    margin-bottom: 2vh;
    
}
.sakri{
    visibility: hidden;
}
main{
    margin: 0;
}
.responsive-tabel{
    overflow-x: auto;
}
th{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
}
td{
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-right-style: dashed;
    border-left-style: dashed;
    text-align: center;
    padding: 0.3vw;
}
main button{
    width: 4.5vh;
    height: 4.5vh;
    border: 0;
    padding: 0;
    margin: 0.5vmax;

}
tbody>tr:hover {background-color: #E39D45;}
main>h1{
    padding-top: 10vh;
    margin-bottom: 4vh;
    text-align: center;
}
.red{
    background: rgb(255, 26, 26);
}
.green{
    background: rgb(32, 201, 32);
}
.dodaj{
    background-color: #E39D45;
}
main>label{
    font-size: 2.5vh;
}
h2{
    margin-top: 2vh;
    text-align: center;
}