body{
    background:#fff0e2;

}
form{
    font-weight: bold;
}
.boja_body{
    background:#fff0e2;
}
.boja_footer{
    background-color: wheat;
}
.margine{
    margin-left: 3vw;
    margin-right: 5vw;
}
.margine_azuriranje{
    margin-left: 1vw;
    margin-right: 1vw;
}
main{
    min-height: 95vh;
}
.sakri{
    visibility: hidden;
}
.kontejner, .opis{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly; /* opcija ce biti pregazena sa justify-content:center za .opis */

}
a{
    max-width: 40vmax;
}
.kontejner{
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 3vh;
}
main .kontejner>div{
    padding: 1vmin;
    margin-top: 7vh;
    background-color: white;
}
.kontejner>div{
    text-align: center;
    border: none;
    box-shadow: 10px 10px 2px 2px  #E39D45;
}
.kontejner>div:hover{
    box-shadow: 0px 0px 10px 12px #E39D45;
    transition: 0.4s;
}
img{
    padding-top: 0.5vmin;
    width: 20vmax;
    height: 13vmax;
    padding: 10px;
}
.tekst{
    padding-top: 0.5vmin;
    width: 100%;
}
p{
    text-align: center;
    font-size: 2vh;
    margin: 0;
}
h2{
    font-size: 3vh;
}
footer{
    min-height: 5vh;
    background-color: wheat;
    display: block;
    color: black;
    text-align: left;
}
footer>p{
    padding: 1vh;
}
@media(max-width: 1140px){
    main .kontejner{
        grid-template-columns: auto auto;
    }
    .margine{
        margin-left: 0;
        margin-right: 0;
    }
    .kontejner, .opis{
        justify-content: space-around;
    
    }
}
@media(max-width: 570px){
    main .kontejner{
        grid-template-columns: auto;
    }
}