main .kontejner>div{
    margin: 4vmin 4vmin 4vmin 4vmin;
}
main>h1{
    padding-top: 11vmin;
    text-align: center;
}
.kontejner{
    margin-top: 4vmin;
}
.opis{
    box-shadow: 4px 4px 5px 5px rgb(143, 209, 43);
    margin: 4vmin;
    justify-content: space-around;
    align-items: flex-start;
    padding: 4vh;

}
.opis p{
    text-align: left;
}
.opis .tekst{
    line-height: 3vw;
    font-size: 1vw;
}