img{
    height: 18vmax;  
}
.opis>p{
    padding: 2vh;
    text-align: justify;
    line-height: 2.4vmax;
    margin: 0;
}
a>button{
    background-color: #E39D45;
    height: fit-content;
    width: fit-content;
    font-size: 1.5vmin;
    margin: 4vh;
}
.tekst p{
    text-align: left;
    padding: 0;
    margin: 0;
}
.tekst{
    width: fit-content;
}
.peding{
    padding: 0;
}
h1, h2{
    font-weight: bold;
}
.opis{
    width: auto;
}
@media(max-width:768px){
    .tekst>p{
        text-align: center;
    }
}