img{
    width: 50vw;
    height: 20vmax;  
    position: static;
}
main>p{
    padding: 4vh 4vh 4vh 4vh;
    text-align: justify;
    font-size: 3vmin;
    line-height: 5vmin;
}
button{
    background-color: #E39D45;
    height: fit-content;
    width: fit-content;
    font-size: 1.5em;
    margin: 4vh;
}